# Fake News Detection

## Importing required library

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import re
import string

In [4]:
df_fake = pd.read_csv("Fake.csv")
df_true = pd.read_csv("True.csv")

In [5]:
df_fake["class"] = 0
df_true["class"] = 1

In [6]:
df_fake

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [7]:
df_true

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [8]:
df_fake.shape, df_true.shape

((23481, 5), (21417, 5))

In [9]:
df_fake_manual_testing = df_fake.tail(10)
for i in range(23480,23470,-1):
    df_fake.drop([i], axis = 0, inplace = True)
df_true_manual_testing = df_true.tail(10)
for i in range(21416,21406,-1):
    df_true.drop([i], axis = 0, inplace = True)

In [10]:
df_fake.shape, df_true.shape

((23471, 5), (21407, 5))

In [11]:
df_fake_manual_testing["class"] = 0
df_true_manual_testing["class"] = 1

<ipython-input-11-3aaf8ec2aad1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fake_manual_testing["class"] = 0
<ipython-input-11-3aaf8ec2aad1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_manual_testing["class"] = 1

In [12]:
df_fake_manual_testing

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [13]:
df_true_manual_testing

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [14]:
df_manual_testing = pd.concat([df_fake_manual_testing,df_true_manual_testing], axis = 0)
df_manual_testing.to_csv("manual_testing.csv")

In [15]:
df = pd.concat([df_fake, df_true], axis =0 )
df

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21402,Exclusive: Trump's Afghan decision may increas...,ON BOARD A U.S. MILITARY AIRCRAFT (Reuters) - ...,worldnews,"August 22, 2017",1
21403,U.S. puts more pressure on Pakistan to help wi...,WASHINGTON (Reuters) - The United States sugge...,worldnews,"August 21, 2017",1
21404,Exclusive: U.S. to withhold up to $290 million...,WASHINGTON (Reuters) - The United States has d...,worldnews,"August 22, 2017",1
21405,Trump talks tough on Pakistan's 'terrorist' ha...,ISLAMABAD (Reuters) - Outlining a new strategy...,worldnews,"August 22, 2017",1
21406,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1

In [16]:
df.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [17]:
df = df.drop(["title", "subject","date"], axis = 1)

In [18]:
df

                                                    text  class
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
21402  ON BOARD A U.S. MILITARY AIRCRAFT (Reuters) - ...      1
21403  WASHINGTON (Reuters) - The United States sugge...      1
21404  WASHINGTON (Reuters) - The United States has d...      1
21405  ISLAMABAD (Reuters) - Outlining a new strategy...      1
21406  GENEVA (Reuters) - North Korea and the United ...      1

[44878 rows x 2 columns]

In [19]:
df.isnull().sum()

text     0
class    0
dtype: int64

### Randomly shuffling the df

In [20]:
df = df.sample(frac = 1)

In [21]:
df

                                                    text  class
19969  Remember Will and Jada Pinkett Smith s contrib...      0
21105  What a hero what a guy what a crazy world we l...      0
13171  DAKAR (Reuters) - Saudi Arabia has pledged $10...      1
4028   WASHINGTON (Reuters) - Trump administration of...      1
13944  PRAGUE (Reuters) - The outgoing Czech governme...      1
...                                                  ...    ...
20952  VIENNA (Reuters) - Austria s far-right Freedom...      1
6643   WASHINGTON (Reuters) - U.S. Republican and Dem...      1
1838   When people talk about the threat that Donald ...      0
7249    NEW YORK/WASHINGTON (Reuters) - An architect ...      1
888    At the close of the election, upon finding out...      0

[44878 rows x 2 columns]

### Reset the index

In [22]:
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [23]:
df

                                                    text  class
0      Remember Will and Jada Pinkett Smith s contrib...      0
1      What a hero what a guy what a crazy world we l...      0
2      DAKAR (Reuters) - Saudi Arabia has pledged $10...      1
3      WASHINGTON (Reuters) - Trump administration of...      1
4      PRAGUE (Reuters) - The outgoing Czech governme...      1
...                                                  ...    ...
44873  VIENNA (Reuters) - Austria s far-right Freedom...      1
44874  WASHINGTON (Reuters) - U.S. Republican and Dem...      1
44875  When people talk about the threat that Donald ...      0
44876   NEW YORK/WASHINGTON (Reuters) - An architect ...      1
44877  At the close of the election, upon finding out...      0

[44878 rows x 2 columns]

## Creating a function to convert the text in lowercase, remove the extra space, special chr., ulr and links.

In [24]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [25]:
df["text"] = df["text"].apply(wordopt)

In [26]:
df

                                                    text  class
0      remember will and jada pinkett smith s contrib...      0
1      what a hero what a guy what a crazy world we l...      0
2      dakar  reuters    saudi arabia has pledged   m...      1
3      washington  reuters    trump administration of...      1
4      prague  reuters    the outgoing czech governme...      1
...                                                  ...    ...
44873  vienna  reuters    austria s far right freedom...      1
44874  washington  reuters    u s  republican and dem...      1
44875  when people talk about the threat that donald ...      0
44876   new york washington  reuters    an architect ...      1
44877  at the close of the election  upon finding out...      0

[44878 rows x 2 columns]

### Defining dependent and independent variable as x and y

In [27]:
x = df["text"]
y = df["class"]

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [29]:
x_train

37136    indoctrination by disney pretty much covers ev...
18666    sydney  reuters    the  countries committed to...
37120    here we go yet another statue of a military he...
21101    beirut  reuters    lebanon s national carrier ...
36861    washington  reuters    the trump administratio...
                               ...
31753    donald trump continues to embarrass himself in...
23132    washington  reuters    u s  president donald t...
4959     conservatives have embraced the idea that ever...
12590    berlin  reuters    germany s christmas markets...
26868    mar a lago trump rally  blacks for trump  trum...
Name: text, Length: 33658, dtype: object

In [30]:
y_train

37136    0
18666    1
37120    0
21101    1
36861    1
        ..
31753    0
23132    1
4959     0
12590    1
26868    0
Name: class, Length: 33658, dtype: int64

## Converting text to vectors

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [32]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [33]:
print(xv_test)

  (0, 93676)	0.037717087597608896
  (0, 93646)	0.028524610570442917
  (0, 93634)	0.03812152291491443
  (0, 92919)	0.052670323707967766
  (0, 92819)	0.016745754203144624
  (0, 92507)	0.03231273728070422
  (0, 92505)	0.03680064944340575
  (0, 92162)	0.010166334588933661
  (0, 92076)	0.07260941026999808
  (0, 92038)	0.02885423732938109
  (0, 92010)	0.017561211199886965
  (0, 91961)	0.017607401018986328
  (0, 91822)	0.013306134906897225
  (0, 91798)	0.0419524282538318
  (0, 91793)	0.021970281491238183
  (0, 91282)	0.029400005611667893
  (0, 91076)	0.02777043663644095
  (0, 90987)	0.039420348578807225
  (0, 90851)	0.020492399559516032
  (0, 90847)	0.02179632512351957
  (0, 90846)	0.016209064485660212
  (0, 90411)	0.020496592772674807
  (0, 90363)	0.038604074177577094
  (0, 89852)	0.05473924689738394
  (0, 89816)	0.028657759262876833
  :	:
  (11219, 11268)	0.07734896940400686
  (11219, 10732)	0.059616573232935156
  (11219, 10730)	0.05024951932478053
  (11219, 10044)	0.059499181362188486
  (11219, 9542)	0.056233730001712445
  (11219, 8468)	0.1741538504810304
  (11219, 7620)	0.04431753998507322
  (11219, 6152)	0.3352819685981368
  (11219, 5969)	0.03872516986808212
  (11219, 5255)	0.0987032980521752
  (11219, 5251)	0.041004872975106264
  (11219, 5230)	0.036044426714568305
  (11219, 5092)	0.028782720472772843
  (11219, 4988)	0.046369756933348966
  (11219, 4660)	0.0406736820407681
  (11219, 4104)	0.048726786478245306
  (11219, 4100)	0.09750751340639127
  (11219, 3752)	0.02261959602819519
  (11219, 3179)	0.1090445354024626
  (11219, 3079)	0.04392786787093559
  (11219, 1949)	0.11494825475627664
  (11219, 1741)	0.09023157479111513
  (11219, 1676)	0.06391245333954582
  (11219, 1451)	0.045075114674717476
  (11219, 642)	0.05045498265895908

## Logistic Regression

In [34]:
from sklearn.linear_model import LogisticRegression

In [35]:
LR = LogisticRegression()
LR.fit(xv_train,y_train)

LogisticRegression()

In [36]:
pred_lr=LR.predict(xv_test)

In [37]:
LR.score(xv_test, y_test)

0.9862745098039216

In [38]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5793
           1       0.98      0.99      0.99      5427

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

## Decision Tree Classification

In [39]:
from sklearn.tree import DecisionTreeClassifier

In [40]:
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

DecisionTreeClassifier()

In [41]:
pred_dt = DT.predict(xv_test)

In [42]:
DT.score(xv_test, y_test)

0.9957219251336898

In [43]:
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5793
           1       1.00      1.00      1.00      5427

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

## Gradient Boosting Classifier

In [44]:
from sklearn.ensemble import GradientBoostingClassifier

In [45]:
GBC = GradientBoostingClassifier(random_state=0)
GBC.fit(xv_train, y_train)

GradientBoostingClassifier(random_state=0)

In [46]:
pred_gbc = GBC.predict(xv_test)

In [47]:
GBC.score(xv_test, y_test)

0.9952762923351158

In [48]:
print(classification_report(y_test, pred_gbc))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5793
           1       0.99      1.00      1.00      5427

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

## Random Forest Classifier

In [49]:
from sklearn.ensemble import RandomForestClassifier

In [50]:
RFC = RandomForestClassifier(random_state=0)
RFC.fit(xv_train, y_train)

RandomForestClassifier(random_state=0)

In [51]:
pred_rfc = RFC.predict(xv_test)

In [52]:
RFC.score(xv_test, y_test)

0.9887700534759358

In [53]:
print(classification_report(y_test, pred_rfc))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5793
           1       0.99      0.99      0.99      5427

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

## Model Testing with manual entry

In [54]:
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Not A Fake News"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GBC = GBC.predict(new_xv_test)
    pred_RFC = RFC.predict(new_xv_test)

    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(output_lable(pred_LR[0]), 
                                                                                                              output_lable(pred_DT[0]), 
                                                                                                              output_lable(pred_GBC[0]), 
                                                                                                              output_lable(pred_RFC[0])))

In [56]:
news = str(input())
manual_testing(news)

pepsi is spicy


LR Prediction: Fake News
DT Prediction: Fake News
GBC Prediction: Fake News
RFC Prediction: Fake News